@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --sm-text: 1.1rem;
    --semi-bold: 600;
    --bold: 700;
}

* {
    font-family: Nunito sans;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

