@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --white-principal: #F1F1F1;
    --black-principal: #181818;
    --black-secondary: #141313;
    --tn-text: ".7rem";
    --sm-text: 1.1rem;
    --md-text: 1.3rem;
    --semi-bold: 600;
    --bold: 700;
}

* {
    font-family: Nunito sans;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.board-layout-wrapper{
    display: flex;
    background-color: var(--black-principal);
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--white-principal);
}

input[type=text]{
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: var(--sm-text) ;
}