
.index-wrapper{
    max-width:90vw;
    margin: 2vh auto;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center
}

h1{
    font-weight: var(--bold);
}
.site-gif {
    width: 100%;
    border-radius:5px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh 0;
    gap: 5vh;
    text-align: center;
}

.adventages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 5vh 0;
    gap: 5vh;
    text-align: left;

    & p{
           font-weight:var(--bold);
       }
}

ul {
    font-weight:var(--semi-bold);
    display: flex;
    margin-left:4vw;
    flex-direction: column;
    row-gap: 3vw;
    list-style-position: outside;
}