body{
    color: var(--white-principal);
    text-align: center;
}

.index-wrapper{
    max-width:90vw;
    margin: 4vh auto;
}
.header{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 4vh;
}

.separator{
    background-color: white;
    width: 100vw;
    height: 2px;
}
h1{
    font-weight: var(--bold);
}
.site-gif {
    width: 100%;
    border-radius:5px;
}

.description-container {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;

}
.img-container {
    width: 100%;
    text-align: center;
    & img{
        width: 100%;
        text-align: center;
    }
}

.adventages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: var(--black-secondary);
    border: var(--white-principal) 2px solid;
    border-radius: 8px;
    padding: 3vh;
    gap: 4vh;
    text-align: left;
    box-shadow: .6vh .6vh 0px var(--white-principal);  /* X, Y, sin blur, color */

    & h1{
        text-align: center;
    }
    & p{
           font-weight:var(--bold);
       }
}

ul {
    font-weight:var(--semi-bold);
    display: flex;
    margin-left:4vw;
    flex-direction: column;
    row-gap: 3vw;
    list-style-position: outside;
}