.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 10px 20px;
    border: 0;
    min-width: 100px;
    max-width: 200px;
    border-radius: 5px;
    font-size: var(--md-text);
    font-weight:var(--bold); 
    background-color: var(--white-principal);
    & img{
            width: 40px;
        }

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }

}
