.new-user-form-container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    text-align: center;

    & h3{
        font-size: 30px;
    }

    & input[type=text]{
        width: 50vw;
        height: 40px;
        border-radius: 5px;
        outline: none;
        text-align: center;
        border: none;
        padding: 0 10px;
        font-size: var(--sm-text);
    }   
}